.editor > p,
.editor > ul li,
.editor > ol li {
  font-size: 1.125rem;
}

.editor > h1 {
  font-size: 2em;
  font-weight: 500;
}

.editor > h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.editor > h3 {
  font-size: 1.17em;
  font-weight: 500;
}

.editor > h4 {
  font-size: 1em;
  font-weight: 500;
}

.editor > h5 {
  font-size: 0.83em;
  font-weight: 500;
}

.editor > h6 {
  font-size: 0.67em;
  font-weight: 500;
}

.editor > ul {
  list-style-type: disc;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editor > ol {
  list-style-type: decimal;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-justify {
  text-align: justify;
}
.editor > a {
  text-decoration: underline;
  font: italic;
}

.ql-size-small {
  font-size: small;
}

.ql-size-large {
  font-size: large;
}

.ql-size-huge {
  font-size: x-large;
}

.editor > blockquote{
  text-indent: 1em;
  border-left: 5px solid gray;
}